# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.dll
*.lib

# Virtual environment
venv/
env/
tfenv/

# Other
.DS_Store
*.log
*.h5
*.ckpt
*.tfrecord
*.env
app\static\evvent-459023-9eb43c5a043a.json