<div class="event-card">
    <!-- Progress Bar -->
    <div class="progress-bar-container">
        <div class="progress-bar">
            <div class="progress-bar-fill" style="width: 0%;"></div>
        </div>
    </div>

    <h2 class="event-name">{{ event.name }}</h2>
    <p class="event-date"><strong>Date:</strong> {{ event.date.strftime('%Y-%m-%d') }}</p>

    <h3 class="tasks-title">Top Tasks:</h3>
    <ul class="tasks-list">
        {% for task in tasks %}
            <li class="task-item">
                <label class="task-label">
                    <input type="checkbox" name="task_ids" value="{{ task.id }}" {% if task.completed %}checked{% endif %}>
                    {% if task.priority == 1 %}
                    <span class="task-text" style="color:rgb(175, 30, 19)">{{ task.description }}</span>
                    {% elif task.priority == 2 %}
                    <span class="task-text" style="color:rgb(150, 82, 19)">{{ task.description }}</span>
                    {% elif task.priority == 3 %}
                    <span class="task-text">{{ task.description }}</span>
                    {% endif %}
                </label>
            </li>
        {% endfor %}
    </ul>
    <button type="button" class="view-details-button">View Details</button>
</div>