{% extends "base.html" %}

{% block content %}
<h1>Sign in</h1>
<form action="{{ url_for('auth.login') }}" method="POST">
    {{ form.hidden_tag() }}

    <!-- Username Field -->
    <div class="form-group">
        <label for="username">{{ form.email.label }}</label>
        {{ form.email(class="form-control", placeholder="Enter your email") }}
    </div>

    <!-- Password Field -->
    <div class="form-group">
        <label for="password">{{ form.password.label }}</label>
        {{ form.password(class="form-control", placeholder="Enter your password") }}
    </div>

    <!-- Remember Me Checkbox -->
    <div class="form-check">
        {{ form.remember_me(class="form-check-input") }}
        <label class="form-check-label" for="remember_me">{{ form.remember_me.label }}</label>
    </div>

    <!-- Submit Button -->
    <div class="form-group text-center">
        {{ form.submit(class=" btn-custom") }}
    </div>
</form>

<style>
    input.form-control {
        background-color: #ffffff; /* Black background */
        color: #000000; /* White text */
        border: 2px solid #000000; /* Blue border */
        border-radius: 5px; /* Rounded corners */
        padding: 10px; /* Add padding inside the input box */
        font-size: 16px; /* Increase font size */
    }

    /* Style for input fields when focused */
    input.form-control:focus {
        background-color: #ffffff; /* Darker black when focused */
        border-color: #000000; /* Darker blue border when focused */
        outline: none; /* Remove default outline */
    }

    /* Style for the checkbox */
    input.form-check-input {
        width: 20px;
        height: 20px;
        background-color: #ffffff; /* Black background */
        border: 2px solid #000000; /* Blue border */
    }

    /* Style for the checkbox when checked */
    input.form-check-input:checked {
        background-color: #000000; /* Blue background when checked */
        border-color: hsl(0, 0%, 0%); /* Darker blue border when checked */
    }
    .btn-custom {
        background-color: #000000; /* Blue background */
        color: #ffffff; /* White text */
        border-radius: 5px; /* Rounded corners */
        padding: 10px 20px; /* Add padding */
        font-size: 18px; /* Larger font size */
        transition: background-color 0.3s, border-color 0.3s; /* Smooth transition */
    }

    .btn-custom:hover {
        transform: scale(1.1);

    }
    .new-user-link {
        color: #000000; /* Blue text */
        text-decoration: none; /* Remove underline */
        font-weight: bold;
    }

    .new-user-link:hover {
        text-decoration: underline; /* Add underline on hover */
    }

</style>

<div class="text-center mt-3">
    <p>New User? <a href="{{ url_for('auth.register') }}" class="new-user-link">Click to register!</a></p>
</div>
{% endblock %}